{{#if shouldShow}}
  <div class="left-sidebar">
    {{#link-to homePageSetting class="courses-home left-sidebar-btn btn"}}{{d-icon "home"}} <span class="home-label">Home</span>{{/link-to}}
    {{#unless isNotTopic}}
      {{bread-crumbs category=category categories=categories}}
      {{navigation-bar navItems=navItems filterMode=filterMode class="compact-version"}}
    {{/unless}}

    {{#if settingsLinks}}
      <div class="left-sidebar-group links">
        <h4 class="left-sidebar-group-header">Links</h4>
        <ul class="left-sidebar-group-list">
          {{#each settingsLinks as |link|}}
            <li class="left-sidebar-group-list-item">
              <a href="{{link.link}}" class="left-sidebar-group-list-item-link">{{link.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    
  </div>
{{/if}}