<div class="right-sidebar">
  <div class="right-sidebar-button-container">
    {{create-topic-button
      canCreateTopic=canCreateTopic
      action=(action "clickCreateTopicButton")
      disabled=createTopicButtonDisabled
      label=createTopicLabel
      btnClass=(concat createTopicClass " right-sidebar-button-container-new-post")
    }}
    {{topic-dismiss-buttons position="top" selectedTopics=selectedTopics
model=model showDismissRead=showDismissRead}}
    {{#if category}}
      {{#if showCategoryEdit}}
          {{d-button
            class="btn-default edit-category"
            action=(route-action "editCategory" category)
            icon="wrench"
            label="category.edit"}}
        {{/if}}
    {{/if}}

    {{#if showCategoryNotifications}}
      {{category-notifications-button
        value=category.notification_level
        category=category
        onChange=(action "changeCategoryNotificationLevel")
      }}
    {{/if}}
  </div>
  {{#if category}}
    {{#if pinnedTopics}}
      <div class="right-sidebar-group top-discussion">
        <h1 class="right-sidebar-group-header">
          Pinned Topics
        </h1>
        <ul class="right-sidebar-group-list">
          {{#each pinnedTopics as |topic|}}
          <li class="right-sidebar-group-list-item">
            <a href="/t/{{topic.slug}}/{{topic.id}}">{{topic.title}}</a>
          </li>
        {{/each}}
        </ul>
      </div>
    {{/if}}
    {{#if groupMembers}}
      <div class="right-sidebar-group members">
        <h1 class="right-sidebar-group-header">
          Members
        </h1>
        <ul class="right-sidebar-group-list">
          {{#each groupMembers as |member|}}
            <li class="right-sidebar-group-list-item">
              <div data-user-card="{{member.username}}" class="right-sidebar-group-list-item-avatar">
                {{avatar member avatarTemplatePath="avatar_template" usernamePath="username" namePath="name" imageSize="medium"}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}
</div>